@use '../shared/ui';
@use '../shared/space';
@use '../shared/fonts';


body {
    font-family: 'Roboto', sans-serif;
    font-size: ui.$font-size;
}

h1 { font-size: 1.5rem; }

h2 { font-size: 1.3rem; }

h3 { font-size: 1.2rem; }

h4 { font-size: 1.0rem; }

h5 { font-size: 0.9rem; }

h6 { font-size: 0.8rem; }

h1, h2, h3 {
    font-family: 'Roboto-Light';
    font-weight: normal;
}

h1 {
    @include space.above(0);
    @include space.below;
}

h2, h3 {
    @include space.above(0.5);
}

p, h2, h3, h4, h5, h6, blockquote, ul, ol {
    @include space.below(0.5);
}
