@use 'sass:list';

// Colors

$_palette: (
    gray: #f6f6f6 #4a4848,
    red: #f3d7d7 #b30030,
    green: #e1f6e0 #446600,
    blue: #e4eff2 #00528c,
    black: #3c3c32 #000000,
    white: #ffffff #ece7d9,
    sea: #e3f2ef #225c52,
);

@function get($color, $tone: 0) {
    $color-list: map-get($_palette, $color);
    $color-0: list.nth($color-list, 1);
    $color-u: list.nth($color-list, -1);
    @return mix($color-u, $color-0, $tone * 10%);
}

@function line($color, $tone: 0) {
    @return 1px solid get($color, $tone);
}
