@use 'colors';

$font-size: 0.9rem;

$bg: colors.get(gray, 0);
$fg: colors.get(black, 10);

$link-fg: colors.get(blue, 10);
$link-hover-fg: colors.get(blue, 5);

$accent-bg: colors.get(white, 0);

$outer-line: colors.line(gray, 3);
$inner-line: colors.line(gray, 1);

$outer-line-blue: colors.line(blue, 3);
$inner-line-blue: colors.line(blue, 1);

$header-bg: colors.get(blue, 1);

$radius: 0.25rem;

@mixin clickable() {
    cursor: pointer;
}

@mixin hover-bg($hover-bg: colors.get(blue, 0)) {
    &:hover {
        background-color: $hover-bg;
    }
}

@mixin hover-fg($hover-fg: colors.get(black, 10)) {
    &:hover {
        color: $hover-fg;
    }
}
