@use '../shared/tables';
@use '../shared/colors';

.about {
    @include tables.ruled;
    th {
        padding-left: 1.5rem;
    }
    td {
        padding-right: 1.5rem;
        color: colors.get(gray, 7);
    }
}
