@use '../shared/ui';
@use '../shared/fonts';
@use '../shared/colors';
@use '../shared/buttons';
@use '../shared/nav';

@mixin pomodoro-theme($color) {
    background-color: colors.get($color, 0);
    border: colors.line($color, 2);
    @include nav.link(colors.get($color, 10), colors.get(white, 0));
    time {
        color: colors.get($color, 8);
    }
    button {
        @include buttons.outline(colors.get($color, 8), ui.$accent-bg);
    }
}

.pomodoro {
    display: inline-block;
    padding: 1rem;
    border-radius: ui.$radius;
    text-align: center;
    time {
        display: block;
        padding: 1rem 0;
        font-family: 'Roboto-Thin';
        font-weight: normal;
        font-size: 4rem;
        /*margin-top: -1rem;*/
    }
    button {
        svg {
            margin: 0 0.5rem 0.25rem 0;
        }
    }
    &.work {
        @include pomodoro-theme(pomodoro);
    }
    &.short {
        @include pomodoro-theme(sea);
    }
    &.long {
        @include pomodoro-theme(blue);
    }
}
