@use '../shared/ui';
@use '../shared/space';
@use '../shared/colors';

$top-nav-line: colors.line(gray, 2);
$top-nav-active-bg: colors.get(gray, 1);

.top-nav {
    @include space.below;
    .navbar-nav {
        width: 100%;
        background-color: ui.$accent-bg;
        border: $top-nav-line;
        border-radius: ui.$radius;
        .nav-link {
            padding: 1rem;
            &.active {
                background-color: $top-nav-active-bg;
            }
        }
        .dropdown-menu {
            font-size: ui.$font-size;
        }
    }
}